@font-face {
    font-family: "Fight";
    src: url("./assets/fight woff font/fightt__-webfont.woff") format('woff');
}

@font-face {
    font-family: "Noise Machine";
    src: url("./assets/JS woff font/noisemachine-10je-webfont.woff") format('woff');
}

@font-face {
    font-family: "Ruby";
    src: url("./assets/ruby woff fonts/omega_ruby-webfont.woff") format('woff');
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html{
  min-height: 100%;
  display: flex;
  justify-content: center;
}

body{
  position: absolute;
  height: 100%;
  background-color: #444;
}

main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-row: 100%;
  height: 100%;
}

section{
  position: relative;
}

#section-left,
#section-right{
  padding: 4em 2em;
  height: 100%;
}

#section-left img,
#section-right img{
  width: 3em;
  height: auto;
  border-radius: 50%;
}

#section-left img{
  background-color: #a41b0e;
}

#section-right img{
  background-color: #5d7859;
}

#section-left{
  background: url('assets/ruby-player-bg.jpg')  #660500;
  background-size: 100% 100%;
  border-color: #ee9082;
  border-style: solid;
  box-shadow: 10px 0 30px 6px rgba(60,0,0,0.85);
  font-size: 22px;
  color: #fdd;
}

#section-left .div-player-score{
  background-color:rgb(255, 144, 130, 0.40);
}

#section-left h2{
  text-shadow: black 0.1em 0.1em .1em;
}
#section-left button{
  background-color: #a41b0e;
}

#section-left button:hover{
  background-color: #bb1c0d;
}

#section-left button:disabled{
  color: #2f1a18;
  background-color: #550700;
}

#section-right{
  background: url('assets/js-player-bg.jpg') #4a943e;
  background-size: 100% 100%;
  border-color: yellow;
  border-style: solid;
  box-shadow: -10px 0 30px 6px rgba(0,60,0,0.85);
  font-size: 22px;
}

#section-right .div-player-score{
  background-color:rgb(70, 72, 62, 0.40);
}

#section-right h2{
    text-shadow: black 0.1em 0.1em 0.2em;
}

#section-right button{
  background-color: #237f16;
}

#section-right button:hover{
  background-color: #26aa14;
}

#section-right button:disabled{
  color: #254022;
  background-color: #0e6801;
}

.div-player-score{
  text-align: center;
  justify-content: center;
  min-width: 9em;
  border-radius: 2em;
  padding: .5em;
}

.AI{
  margin: 0;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 1fr 1fr;
}

.AI h2{
  width: 100%;
  text-align: center;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.AI button{
  width: 100%;
  grid-row: 2;
}

#section-left .AI {
	background-color: rgb(255, 144, 130, 0.40);
  margin-top: .5em;
}

#section-right .AI {
	background-color: rgb(70, 72, 62, 0.40);
  margin-top: .5em;
}

#section-middle{
  padding: 2em;
  text-align: center;
  height: min-content;
  min-width: 17.5em;
  max-width: 43em;
  margin: 1.5em;
  background: radial-gradient(circle, rgba(185,161,87,1) 25%, rgba(162,145,92,1) 60%, rgba(167,152,106,1) 89%);
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(70, 72, 62, 0.40);
  padding: .5em 0;
}

h1 img{
  width: 2em;
  height: auto;
  background-color: #cccc00;
  border-radius: 50%;
}

#game-board{
  margin-top: 2em;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(5em, 1fr));
  grid-template-rows: repeat(3, minmax(5em, 1fr));
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
}

.tile{
  width: 95%;
  height: auto;
  min-width: 5em;
  min-height: 5em;
  border-radius: 50%;
  margin: 0 3%;
  position: relative;
  z-index: 2;
  /* border-color: orange; */
  /* border-style: solid; */
}

.placeholder{
  width: 100%;
  height: 100%;
  opacity: 0;
}

.invisible{
  width: 100%;
  height: 1em;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: all .6s;
  box-shadow: black 0 0 0 0;
  text-shadow: black 0em 0em 0em;
  color: white;
}

.kablam{
  width: 40%;
  height: 40%;
}


.show-kablam{
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 4;
}

.fade{
  opacity: 0;
}

.exclaim{
  height: min-content;
  bottom: 15%;
  font-size: 4em;
  transition-property: color, box-shadow, text-shadow, opacity, z-index;
  transition-duration: .6s;
}

.show-exclaim{
  box-shadow: black 0px 0px 50px 15px;
  text-shadow: black 1em 1em 0.3em;
  opacity: 100%;
  color: #cc413a;
  z-index: 5;
  transition-property: color, box-shadow, text-shadow, opacity;
  transition-duration: 1s;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color:rgb(0, 0, 0, 0.40);
  position: absolute;
  z-index: 3;
}

.empty{
  transition: all .6s;
  background: inherit;
  width: 100%;
  height: auto;
  opacity: .25;
  margin:auto;
}

.empty:hover{
  background-color:rgb(0, 0, 0, 0.40);
  width: 80%;
  opacity: .6;
}

.placeholder

.js-bg{
  background: radial-gradient(rgba(192,86,70,1) 0%, rgba(127,118,85,1) 50%, rgba(100,154,34,1) 100%);
}

.ruby-bg{
    background: radial-gradient(rgba(100,154,34,1) 0%, rgba(127,118,85,1) 50%, rgba(192,86,70,1) 100%);
}

.top{
  grid-row: 1;
}

.middle{
  grid-row: 2;
}

.bottom{
  grid-row: 3;
}

.left{
  grid-column: 1;
}

.center{
  grid-column: 2;
}

.right{
  grid-column: 3;
}

#ttt-grid{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-width: 17.5rem;
  min-height: 17.5rem;
  font-family: 'Verdana';
  box-shadow: black 2px 1px 15px 2px;
  /* border-color: red; */
  /* border-style: double; */
}

.clear-button{
  font-size: 20px;
  background-color: #7a6a38;
  border-color: #6e591c;
  padding: .5em;
  margin-top: 1em;
}

.clear-button:hover{
  background-color: #a4831e;
}

.clear-button:disabled{
  color: #222;
  background-color: #a39360;
}

.button{
  margin-top: .5em;
  width: 100%;
}

.input-flex{
  display: flex;
  padding: 0;
}

.input{
  width: 100%;
  text-align: center;
  margin-top: .5em;
  padding: .25em 0;
  position: relative;
  border-radius: .5em;
}

.input-flex>button{
  padding: 0 .5em;
  width: min-content;
}

.hidden{
  display: none;
}

.fight-font{
  font-family: 'Fight';
  letter-spacing: 1px;
  text-shadow: black 0.1em 0.1em 0.3em;
  border-radius: 1em;
}

.js-font{
  font-family: 'Noise Machine';
  letter-spacing: 2pt;
  color: #ace852;
}

.ruby-font{
  font-family: 'Ruby';
  letter-spacing: 1pt;
  color: #fdd;
}

.draw{
  background-color:rgb(70, 72, 62, 0.40);
  color: white;
}

.medium-font-size{
  font-size: 1.5em;
}
